.item-box{
    height: 360px;
    margin-top: 10px;
    padding: 0 5px;
    /* background-color: aquamarine; */
}

.item-box .img-box{
    width: 100%;
    height: 80%;
    background-color: brown;
    overflow: hidden;
    box-shadow: 1px 1px 6px rgba(128, 128, 128, 0.195);
}

.item-box .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.item-box .img-box img:hover{
    transform: scale(1.1);
    transition: 2s;

}

.item-box .txt-box{
    width: 100%;
    height: 20%;
    background-color: rgba(0, 128, 0, 0.078);
    text-align: right;
    padding: 5px;
}

.item-box .txt-box h1{
    font-size: 22px;
    color: #333;
}

.item-box .txt-box h1:hover{
    font-size: 25px;
    transition: 0.1s;
}

.item-box .txt-box span{
    font-size: 18px;
    color: red;
    z-index: 1;
}